<! –– <a> Welcome to MemeExchange!<a> <p><strong> You can exchange Memes Here <strong><p> ––>

        
<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>Meme Exchange</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	  <style> 
	  
		/*incorporating the parallax scrolling effect*/
		.parallax {
		  /* The image used 
		  background-image: url("parallax.jpg");*/

		  /* Set a specific height */
		  min-height: 500px; 

		  /* Create the parallax scrolling effect */
		  background-attachment: fixed;
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;
		}
		body{
		  /*background-color: #1F4080;*/
		}
		/* Set black background color, white text and some padding */
		footer {
		  background-color: #555;
		  color: white;
		  padding: 15px;
		}
		
	  </style>
	</head>
	<body>
	{%with tempId = username %}
        {% include 'topNav.html' %}
    {% endwith %}
		<div class="container text-center">    
		  <div class="row">
			<div class="col-sm-3 well">
			  <div class="well">
				<p><a href="#">My Profile</a></p>
				<img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
			  </div>
			  <div class="well">
				<p><a href="#">Type of Memer</a></p>
				<p>
				  <span class="label label-default">Dank</span>
				  <span class="label label-primary">Reddit</span>
				  <span class="label label-success">Normie</span>
				  <span class="label label-info">Wholesome</span>
				  <span class="label label-warning">Classic</span>
				  <span class="label label-danger">Ghetto</span>
				</p>
			  </div>
			  <p><a href="#">Check this out</a></p>
			  <p><a href="#">Check this out</a></p>
			  <p><a href="#">Check this out</a></p>
			</div>
			<div class="col-sm-7">
			
			  <div class="row">
				<div class="col-sm-12">
				  <div class="panel panel-default text-left">
					<div class="panel-body">
					  <p contenteditable="true">Status: Feeling Blue</p>
					  <button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-thumbs-up"></span> Like
					  </button>     
					</div>
				  </div>
				</div>
			  </div>
			  
			  <div class="parallax"></div>
			  <div class="row">
				<div class="col-sm-3">
				  <div class="well">
				   <p>Friend1</p>
				   <img src="prof.jpg" alt="pic" class="img-circle" height="55" width="55" alt="Avatar">
				  </div>
				</div>
				<div class="col-sm-9">
				  <div class="well">
				   <img src="meme.jpg" alt="meme">
				  </div>
				</div>
			  </div>
			  <div class="row">
				<div class="col-sm-3">
				  <div class="well">
				   <p>Friend2</p>
				   <img src="prof.jpg" alt="pic" class="img-circle" height="55" width="55" alt="Avatar">
				  </div>
				</div>
				<div class="col-sm-9">
				  <div class="well">
				   <img src="meme.jpg" alt="meme">
				  </div>
				</div>
			  </div>
			  <div class="row">
				<div class="col-sm-3">
				  <div class="well">
				   <p>Friend3</p>
				   <img src="prof.jpg" alt="pic" class="img-circle" height="55" width="55" alt="Avatar">
				  </div>
				</div>
				<div class="col-sm-9">
				  <div class="well">
				   <img src="meme.jpg" alt="meme">
				  </div>
				</div>
			  </div>
			  <div class="row">
				<div class="col-sm-3">
				  <div class="well">
				   <p>Friend4</p>
				   <img src="prof.jpg" alt="pic" class="img-circle" height="55" width="55" alt="Avatar">
				  </div>
				</div>
				<div class="col-sm-9">
				  <div class="well">
				   <img src="meme.jpg" alt="meme">
				  </div>
				</div>
			  </div>     
			</div>
			<div class="col-sm-2 well">
			  <div class="thumbnail">
				<p>Requested <br> Meme Swap:</p>
				<img src="meme.jpg" alt="meme" width="400" height="300">
				<button class="btn btn-primary">Info</button>
			  </div>      
			  <div class="well">
				<p>Suggested <br>Memers</p>
			  </div>
			</div>
		  </div>
		</div>

		<footer class="container-fluid text-center">
		  <p>@2020 Meme Exchange</p>
		</footer>

	</body>
</html>
