<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/static/test.css" rel="stylesheet" type="text/css">

		<title>Meme Upload</title>
		<style media="screen">
			body{
				min-height: 100vh;
				width: 100%;
				padding: 0;
				margin: 0;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				background-color: whitesmoke;
			}
		        .memebox{
			    	padding-left: 35%;
		    	}
		    	.memeup input{
				float:left;
		    	}
		</style>

	</head>

	<body>
	{% if user_to_display is defined %}
            {%with tempId = user_to_display.username, identity = identity, user_to_display = user_to_display %}
            {% include 'topNav.html' %}
            {% endwith %}
        {% else %}
            {% include 'topNav.html' %}
        {% endif %}

        <div align="center">
		<h1><font face="Papyrus">Lets Begin Memeing</font></h1>
		<br/>
		<section class="memebox" align="left">
            <div class="memeup">
                <input type="file" id="meme" name="fileUpload" accept="image/*"/>
                <input type="text" id="memeTitle" placeholder="Title Your Meme"/>
            </div>
			<br/><br/>
			
			<input name='tags' id="memeTags" placeholder='Add some tags [Enter after each]'/>

			<br/><br/>
			<button onclick="saveMeme()" id="submit">Submit</button>
		</section>
        </div>
	</body>

	<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="//code.jquery.com/jquery.min.js"></script>

	<script src="/static/jQuery.tagify.js"></script>
	<script>
		$('[name=tags]').tagify();
		$('[name=tags]').tagify({duplicates: false});
	</script>

	<script>


		var memeID; //This will be the id that datastore gives to the meme, so we can navigate to it when it's uploaded.

		function saveMeme(){
		    // Get title and picture of meme.
		    var memeTitle = document.getElementById('memeTitle').value;

		    var memeTags = document.getElementsByName('tags');
		    var length = memeTags.length;

		    //tags array
		    var tags = [];

		    for(i=0; i<length; i++){
			tags.push(memeTags[i].value); 
			console.log("here is values of meme " + memeTags[i].value);
		    }
		    var picture = document.getElementById('meme').files[0];
			
        console.log('here is memeTags: ' + tags);
	//Create the JSON version (requested with memetags)
      	var jsonMemeInfo = JSON.stringify({"title": memeTitle, "filename": picture.name, "tags": tags, "contentType": picture.type});
        console.log('jsonMemeInfo: ' + jsonMemeInfo);  
			
	//Send POST request to save the meme in data store.
            var request = createXmlHttp();
            request.responseType = "json";
            request.open("PUT", "/meme/save-meme", true)
            request.onload = () => { 
                if (request.status === 200) {
                    var jsonResponse = request.response;
					this.memeID = jsonResponse["meme_id"];
                    this.document.getElementById("memeTitle").innerHTML = this.memeID;
                    var signedUrl = jsonResponse["signedUrl"];
                    uploadFileToCloudStorage(signedUrl, picture)
                } else {
                    alert("Error encountered when uploading to data store");
                }
            };
            request.onerror = () => {
                alert("Something went wrong");
            };

			request.setRequestHeader("Content-Type", "application/json");
            console.log(jsonMemeInfo);
            request.send(jsonMemeInfo);
		}		
	
		
		function uploadFileToCloudStorage(signedUrl, picture) {

			var result = ""
			const request = createXmlHttp();
			request.open("PUT", signedUrl, true);
			request.onload = () => {
				if (request.status === 200) {
					this.window.location.href = "/meme/" + this.memeID;
				} else {
					alert("Something went wrong!");
				}
			};
			request.onerror = () => {
				alert("Something went wrong");
			};
			request.setRequestHeader('Content-Type', picture.type);
			request.send(picture);
		}
		function createXmlHttp() {
				let xmlhttp;
			
				if (window.XMLHttpRequest)
					xmlhttp = new XMLHttpRequest();
				else
					xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");

				if (!(xmlhttp)) 
					alert("Your browser does not support AJAX!");

				return xmlhttp;
			}
		
		
			
	</script>	
</html>	
