<!DOCTYPE html>
<html>
	<head>

		<title>{{ type_of_entity }} Not Found </title>

		<link rel="stylesheet" href="/static/profile_stylesheet.css">


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script src="https://apis.google.com/js/client.js"> 

		</script>

	</head>
    <body>
        {% if identity is defined and identity !='' %}
            {%with identity = identity %}
            {% include 'topNav.html' %}
            {% endwith %}
        {% else %}
            {% include 'topNav.html' %}
        {% endif %}

        <div>
            <h3 style="text-align:center;">
            {% if type_of_entity == 'Meme' %}
                The meme with id {{ identifier }} could not be found! 
            {% else %}
                The profile for user {{ identifier }} could not be found!
            {% endif %}
            </h3>
        </div>



    </body>
</html>