<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<body>
    {%with tempId = username %}
        {% include 'topNav.html' %}
    {% endwith %}
    <div class="row">
        <div class="col-sm-6">
            {% for friendRequest in user_to_display.friend_request_in %}
                <div class="well well-lg">
                    <h3><span class="label label-info">FRIEND REQUEST</span> <span class="badge">1</span></h3>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">Request From {{friendRequest}}</h4>
                        </div>
                        <div class="panel-body">
                            {{friendRequest}} wants to be your friend
                        </div>
                        <div class="panel-footer">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-info"> <a href = "/user/{{friendRequest}}">view profile</a></button>
                                <button type="button" class="btn btn-info" onclick = "acceptFriend('{{friendRequest}}')">accept</button>
                                <button type="button" class="btn btn-info" onclick = "denieFriendRequest('{{friendRequest}}')">denied</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-sm-6">
        <div class="well well-lg">
            <h3><span class="label label-info">TRADE REQUESTS</span> <span class="badge">0</span></h3>
        </div>
        </div>
    </div>
</body>

<script>
    var username = '{{username}}'
    
    //Emily's createXMLHttp
    function createXmlHttp() {
        let xmlhttp;
    
        if (window.XMLHttpRequest)
            xmlhttp = new XMLHttpRequest();
        else
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");

        if (!(xmlhttp)) 
            alert("Your browser does not support AJAX!");

        return xmlhttp;
    }

    //Edit based on Emily's addFriend function in profile.html
    function acceptFriend(senderName) {
        //Set up xmlhttprequest object.
        var request = createXmlHttp();
        var outerRef = this.document;
        userIdentity = username;
        otherUserIdentity = senderName;

        var acceptMsg = {
            myIdentity: userIdentity,
            friendIdentity: otherUserIdentity
        };
        request.open("POST", "/acceptAsFriend", true);
        request.setRequestHeader("Content-type", "application/json")
        request.send(JSON.stringify(acceptMsg));
        setInterval(reloadThispage,1000);
    }

    function denieFriendRequest(senderName) {
        var request = createXmlHttp();
        var outerRef = this.document;
        userIdentity = username;
        otherUserIdentity = senderName;

        var denieMsg = {
            myIdentity: userIdentity,
            friendIdentity: otherUserIdentity
        };
        request.open("POST", "/denieAFriend", true);
        request.setRequestHeader("Content-type", "application/json")
        request.send(JSON.stringify(denieMsg));
        setInterval(reloadThispage,1000);
    }
    
    function reloadThispage() {
        location.reload();
    }

</script>