  <!DOCTYPE html>
<html>
	<head>

		<title>{{ user_to_display.username }}'s Profile </title>


		<script src="https://apis.google.com/js/client.js"> //This is our JS.
			var identity = {{ own_profile }} //This is who I'm logged in as.
			var user = {{ user_to_display }}; //I'm storing the data I sent from the server into a JS variable so if I edit the profile,
												//I don't have to requery the DB.
			 
			//Initially don't show edit mode.
			document.getElementById("edit_mode_content").style.display = "none"; 
  			document.getElementById("profileEdit").style.display = "none"; 

			function createXmlHttp() {
				let xmlhttp;
			
				if (window.XMLHttpRequest)
					xmlhttp = new XMLHttpRequest();
				else
					xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
			
				if (!(xmlhttp)) 
					alert("Your browser does not support AJAX!");
			
				return xmlhttp;
			}
			function addFriend() {
				//Set up xmlhttprequest object.
				var request = createXmlHttp();
				var potentialFriends = [identity, user.username]; //Sender of the request (me), Recipient of the request (user diplayed).

				//TODO: Use this to show user feedback that the request was sent. 
				request.onreadystatechange = function() {

 					if (request.readyState == 4 {
                        switch(request.status) {
                            case 200: //Success
                                break;
                            case 500: //Server failed to send request.
                                break;
                            case 401: //These users are already friends
                                break;
                            case 400: //This user already sent a request.
                                break;
                            case 403: //This user already received a request.
                                break;
                        }
 					}
 				}

				request.open("POST", "/sendFriendRequest", true);
				xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				request.send("sender=" + identity + "&receiver=" + user.username);
			}
			function editProfile() {
				//Show the editing stuff. 
				document.getElementById("edit_mode_content").style.display = "inline"; 

				//Hide the viewing stuff. 
				document.getElementById("display_mode_content").style.display = "none";

			}
			
			//displays profile settings if exist, else add new profile settings
			function profileExist(username){
				var profileData = document.getElementById('bio');
				var profileForm = new FormData(profileData);
				
				//creating new request object
				let xmlhttp = new XMLHttpRequest();
				let profileURL = "/user/" + username;
				
				xmlhttp.onreadystatechange = function(){
					if (xmlhttp.readyState == 4 && (xmlhttp.status == 200)){
						console.log(xmlHttp.status);
					}else{
						console.log("Not ready");
					}
					if (xmlhttp.status === 404){return;}
					try{
						let response = JSON.parse(xmlhttp.responseText);
						document.getElementById("bio").value = response["bio"];
					}catch (err){
						console.error("Server Error");
					}

				}				
				
				//TODO: Getting data from storage bucket-----------------------------
				var parameterObj = {};	//declaring and initializing parameter object 
				parameterObj['MemeExchange'] = "";	//setting project id
				
				//Making request to Google Cloud Storage API
				var request = gapi.client.storage.buckets.list(parameterObj);
				
				//retrieving and inserting into textbox element
				document.getElementById("bio").innerHTML = google.storage;
				//let firstname = document.getElementById("first-name").value;
				
				//TODO: filling existent data into profile form html
				if(profileForm.has(name)){
					//display data if has data
				}else{
					document.getElementById("profileEdit").style.display = "inline";
				}
				
				//configuring request
				xmlhttp.open("POST", profileURL, [async, user.username, user.password]);
				//sending request over network
				xmlhttp.send(profileForm);				
			}
				
		</script>
	</head>
	<body>
		(% if own_profile == user_to_display %} {# If this is the user's own profile, allow them to edit it. #}
			<div id ="own_profile_content">

				<span>
					<h2 id="username">Your Profile</h2>
					<button id="edit_profile_button" on-click="editProfile()">Edit Profile</button>
				</span>

				{# Present image #}
				<img id="profile_picture" src="example_pic.jpg" alt="Profile Piture">


				{# If we're in editing mode, give the user the ability to edit their picture and bio. #}
				<div id="edit_mode_content">
						

					{# Allow user to edit their bio. #}
					<form action="/editProfileBio">
						{# Allow user to edit/upload new image #}
						<form action="/uploadProfilePicture">
	  						<label for="img">Upload new profile picture:</label>
	  						<input type="file" id="img" name="img" accept="image/*">
	  						<input type="submit">
						</form>
					
						<label for="bio_to_display">Choose your bio: </label>
						<input id="bio_to_display" value="{{ user_to_display.bio }}"> <br>
						<input type="submit" value="Save">
					</form>
					

					
				</div>
				<div id="present_mode_content">
					
					{# Present Bio #}
					<p>Bio: {{ user.bio }}</p>

					
				</div>
				
			</div>
		{% else %}
			<div id="other_profile_content">
				<img id="profile_picture" src="example_pic.jpg" alt="Profile Piture">

				<span>
					<h2 id="username">{{ user.username }}</h2>
					{% if identity == '' %}
						<button id="add_friend_button" on-click="addFriend()">Add Friend</button>
					{% endif %}
				</span>
			
				{# Present the user's Bio #}
				{% if user.bio != '' %}
					<p>User has no bio! :(</p>
				{% else %}
					<p>{{ user.bio }}</p>
				{% endif %}
			


			</div>
		{% endif %}

		{# Show memes and friends #}
		<div id="memes_list">

			{% for meme in memes_owned %}
				<div id="meme">
					<a href="">{{ meme.title }}</a> 
				</div>
			{% endfor %}
		</div>

		<div id="friends_list">
		</div>
		
		<section>
			<div id="profileEdit" class="collapse">
			
				<h1>Profile Settings<h1>
				<form action = "/profileform" method="POST" autocomplete="off">
				
					<section>
						<label>
							<font face="Papyrus" size="3">First Name</font>
						</label> 
						<input name="first-name" id="firstName">
					</section>
					
					<section>
						<label>
							<font face="Papyrus" size="3">Last Name</font>
						</label> 
						<input name="last-name" id="lastName">
					</section>
					
					<section>
						<label>
							<font face="Papyrus" size="3">Username</font>
						</label> 
						<input name="username" id="username">
					</section>
					
					<section>
						<label>
							<font face="Papyrus" size="3">Please enter your bio: </font>
						</label><br>
						<textarea cols="30" rows="8" name="bio" id="bio">What type of memer are you?</textarea>
					</section>
					
				<button on-click="profileExist(username)">Save</button>
				</form>
			</div>
		<section>
	</body>
</html>
